gradio==5.50.0
matplotlib>=3.8,<4
quant-mc-option-pricing @ git+https://github.com/lamsofttech/ai-ml-quantitative-research-portfolio.git@acb354bc1c687bcf6531ac7f37f867836671553b#subdirectory=projects/02-monte-carlo-option-pricing
