gradio==5.50.0
matplotlib>=3.8,<4
quant-mc-option-pricing @ git+https://github.com/lamsofttech/ai-ml-quantitative-research-portfolio.git@97efd0701d5f45d1a307f1cce5d631218f7140b5#subdirectory=projects/02-monte-carlo-option-pricing
