gradio==5.50.0
matplotlib>=3.8,<4
pandas>=2.1,<3
quant-mc-option-pricing @ git+https://github.com/lamsofttech/ai-ml-quantitative-research-portfolio.git@97efd0701d5f45d1a307f1cce5d631218f7140b5#subdirectory=projects/02-monte-carlo-option-pricing
quant-numerical-methods @ git+https://github.com/lamsofttech/ai-ml-quantitative-research-portfolio.git@14c7ac3e911a2551b125dc90ef0351a1cd12f42a#subdirectory=projects/01-numerical-methods
